[
    {
        "scope": "https://api.kloudless.com:443",
        "method": "POST",
        "path": "/v1//accounts/231987328/storage/folders",
        "body": {
            "account_id": 231987328,
            "parent_id": "root",
            "name": "blackhole"
        },
        "status": 201,
        "response": {
            "account": 231987328,
            "ancestors": [
                {
                    "name": "Dropbox",
                    "id": "root"
                }
            ],
            "name": "blackhole",
            "parent": {
                "name": "Dropbox",
                "id": "root"
            },
            "created": null,
            "modified": null,
            "can_upload_files": true,
            "raw_id": "id:O87-C4lF9iAAAAAAAAAABA",
            "can_create_folders": true,
            "path": "/blackhole",
            "type": "folder",
            "id": "FicKnmotZ4UrkH0cT-bOeZveqNkH_lGt8FAfm1R_EVqY=",
            "size": null
        },
        "rawHeaders": [
            "Allow",
            "POST, OPTIONS",
            "Content-Language",
            "en",
            "Content-Type",
            "application/json",
            "Sun, 25 Jun 2017 06:12:20 GMT",
            "nginx/1.11.5",
            "SAMEORIGIN",
            "X-Kloudless-Request-ID",
            "fcbc8b4f-1527-4745-bef6-9e9db8a1688a",
            "X-Kloudless-Stats-Influx",
            "{\"fields\": {\"duration\": 744.6928024291992, \"start\": 1498371139.64, \"remote_address\": \"10.0.0.57\", \"query\": \"\"}, \"tags\": {\"status\": 201, \"application_id\": \"mddXeszdchTlRQEFN3LGhxLzqaTjgYwbXGLHCeXOqJdrzRyd\", \"credential_ids\": [231987328], \"path\": \"/v1/accounts/231987328/storage/folders\", \"method\": \"POST\", \"x_forwarded_for\": \"136.24.156.11\"}, \"time\": 1498371140.384767, \"measurement\": \"api_request\"}",
            "344",
            "Close"
        ]
    },
    {
        "scope": "https://api.kloudless.com:443",
        "method": "POST",
        "path": "/v1/accounts/231987328/storage/convert_id",
        "body": {
            "raw_id": "/blackhole",
            "type": "folder"
        },
        "status": 200,
        "response": {
            "id": "FujFV5NiJZjrgPNpoqsIzhg=="
        },
        "rawHeaders": [
            "Allow",
            "POST, OPTIONS",
            "Content-Language",
            "en",
            "Content-Type",
            "application/json",
            "Sun, 25 Jun 2017 06:12:20 GMT",
            "nginx/1.11.5",
            "SAMEORIGIN",
            "X-Kloudless-Request-ID",
            "4dc521b9-2b38-42d0-9d98-dacd77fca2cf",
            "X-Kloudless-Stats-Influx",
            "{\"fields\": {\"duration\": 17.930030822753906, \"start\": 1498371140.47, \"remote_address\": \"10.0.0.57\", \"query\": \"\"}, \"tags\": {\"status\": 200, \"application_id\": \"mddXeszdchTlRQEFN3LGhxLzqaTjgYwbXGLHCeXOqJdrzRyd\", \"credential_ids\": [231987328], \"path\": \"/v1/accounts/231987328/storage/convert_id\", \"method\": \"POST\", \"x_forwarded_for\": \"136.24.156.11\"}, \"time\": 1498371140.487985, \"measurement\": \"api_request\"}",
            "34",
            "Close"
        ]
    },
[...]
